body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  margin: 0;
  line-height: 1.6;
  color: #1f1f1f;
  background-color: #f8f9fa;
}


.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}


h1, h2, h3 {
  margin-bottom: 10px;
}

.subtitle {
  color: #555;
  margin-bottom: 20px;
}

.links a {
  display: inline-block;
  padding: 12px 13px;            
  border-radius: 100px;          
  margin-right: 15px;
  text-decoration: none;
  font-weight: 600;
  color: #333;
  background: #f2f2f2;          
}

.links a.github {
  background: #111;
  color: #fff;
}

.links a.linkedin {
  background: #0a66c2;
  color: #fff;
}

.links a.credly {
  background: #ff6b00;
  color: #fff;
}

.links a:hover {
  opacity: 0.9;
}



section {
  margin-bottom: 40px;
}

.cert-card {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 40px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.cert-card img {
  width: 110px;
}

.cert-details summary {
  cursor: pointer;
  font-weight: 600;
  margin-top: 8px;
}

.cert-details p {
  margin-top: 10px;
  color: #444;
}
